body {
    background: linear-gradient(90deg, rgba(219,156,109,1) 0%, rgba(255,224,165,1) 50%, rgba(219,156,109,1) 100%);
    width: 100vw;
    height: 100vh;
}

#login {
    position: absolute;
    inset: 0;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

#login img {
    margin-bottom: 1em;
}

#login .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
}

#login .campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    padding-block: 1em;
}

#login .campos label {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #402012;
}

#login .campos input {
    padding: 0.5em;
    border: 0;
    border-radius: 1em;
}

#login .campos button {
    margin-top: 1em;
    background-color: #b3a972;
    color: white;
    align-self: center;
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    cursor: pointer;
}

#login-modal {
    position: fixed;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
}

#login-modal .container {
    background-color: white;
    margin-inline: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75em;
    padding: 1em;
    border-left: 0.4em #402012 solid;
    box-shadow: 0.1em 0.1em 0.8em rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

#login-modal .container span:first-child {
    color: brown;
    font-size: 5em;
}

#login-modal .container span:last-child {
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

#login-modal .container .texto-modal h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-block: 0.5em;
}

#login-modal .container .texto-modal p {
    font-family: 'Inter', sans-serif;
    margin-block: 0.5em;
}

