@media screen and (max-width: 1150px) {

    footer .esquerda {
        width: 60%;
    }

    footer .direita {
        width: 40%;
    }
}


@media screen and (max-width: 1100px) {
    #riscos .riscos {
        margin-inline: 6em;
    }

    #header-title {
        width: 75%;
    }

    #modal {
        padding-inline: 10em;
    }

    #confirmar-modal {
        padding-inline: 10em;
    }

    #chat {
        padding-inline: 10em;
    }

    #menu-newsletter .e-mails {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1020px) { 
    #riscos-titulo-estatuto, #riscos-titulo-estatuto2 {
        height: 1.5em !important;
        width: auto;
    }

    #estatuto > h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conteudo-estatuto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #imagens-estatuto {
        width: 75% !important;
    }

    #e-mail {
        flex-direction: column;
        gap: 1em;
    }

    #e-mail > * {
        max-width: 100%;
    }
}

@media screen and (max-width: 870px) {
    .footerText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .esquerda {
        align-items: center;
    }

    footer .direita {
        margin-top: 5em;
    }

    footer .esquerda h4 {
        text-align: center;
    }

    
    #chat .container .mensagens .mensagem {
        max-width: 55%;
        margin-block: 1em;
    }

}

@media screen and (max-width: 860px) {
    #aspectos section .conceito .conteudo {
        width: 100% !important;
        max-width: 100% !important;
        border-radius: 0 !important;
        height: auto !important;
    }

    #aspectos section .conceito .espaco {
        display: none !important;
    }

    #riscos .riscos {
        margin-inline: 3em;
    }

    #status-modal .container {
        margin-inline: 20%;
    }
}

@media screen and (max-width: 800px) { 
    #imagens-estatuto {
        width: 100% !important;
    }

    #riscos .riscos {
        margin-inline: 2em;
    }
}

@media screen and (max-width: 750px) {
    #riscos .riscos .risco .conteudo p {
        display: none;
    }
    
    #riscos .riscos .risco .conteudo button {
        display: none;
    }

    #header-title {
        width: 80%;
    }

    #modal {
        padding-inline: 5em;
    }

    #confirmar-modal {
        padding-inline: 5em;
    }
    
    #chat {
        padding-inline: 5em;
    }

    #menu-newsletter .e-mails {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .seção {
        margin-inline: 5em
    }
    
    #header-title {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #header-texto {
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 670px) {
    footer .esquerda {
        width: 100%;
    }

    footer .direita {
        width: 100%;
    }

    #container-404 .informacoes {
        flex-direction: column;
        padding: 0.5em;
    }
    #container-404 .informacoes h1, #container-404 .informacoes h2 {
        text-align: center;
    } 
}

@media screen and (max-width: 570px) {
    #chat .container .mensagens .mensagem {
        font-size: 0.8em;
        max-width: 70%;
    }

    #status-modal .container {
        margin-inline: 10%;
    }
}

@media screen and (max-width: 550px) {
    #imagens-estatuto {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #livro-estatuto {
        width: 90%;
    }

    #recursos .colecao-cards {
        max-width: 14em;
    }

    #recursos .colecao-cards .card {
        min-width: 10em;
        min-height: 20em;
        width: 10em;
        height: 20em;
    }

}


@media screen and (max-width: 500px) {
    #riscos .riscos .risco .conteudo {
        display: none;
    }

    #navbar .nav-real ul {
        flex-direction: column;
        align-items: start;
        margin: 0;
        max-height: 0em;
        transition: .5s;
    }

    #navbar .nav-real ul img {
        display: none;
    }

    nav #hamburguer {
        display: block;
        padding: 0.5em;
    }

    #recursos .colecao-cards {
        max-width: 12em;
    }

    #recursos .colecao-cards .card {
        min-width: 8em;
        min-height: 16em;
        width: 8em;
        height: 16em;
    }

    #recursos .titulo-card {
        font-size: 1.2em;
    }

    #recursos .texto-card {
        font-size: 0.75em;
    }

    #recursos .botao-saibamais {
        font-size: 0.65em;
    }

    #chat .container .mensagens .mensagem {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 470px) {
    #recursos .flechas-recursos {
        display: none;
    }

    #recursos .botoes-extra {
        display: flex;
    }

    #nav-newsletter .novo-e-mail span:first-child {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .seção {
        margin-inline: 2.5em;
    }

    #header-h1 {
        font-size: 2em;
    }

    #header-p {
        font-size: 1em;
    }

    .seção {
        margin-inline: 2em
    }

    #aspectos section .conceito .conteudo {
        padding: 0.25em;
    }

    #aspectos section .conceito .conteudo h3 {
        font-size: 0.6em;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #aspectos section .conceito .conteudo p {
        font-size: 0.4em;
    }

    #aspectos section .conceito .conteudo button {
        font-size: 0.3em;
    }

    #modal {
        padding-inline: 1em;
    }

    #confirmar-modal {
        padding-inline: 1em;
    }

    #chat {
        padding-inline: 1em;
    }

    #login .titulo {
        flex-direction: column;
    }

    #login .titulo span:first-child {
        font-size: 1.5em;
    }

    #status-modal .container {
        margin-inline: 0;
    }

    #status-modal .container span:first-child {
        font-size: 3em;
    }

    #status-modal .container .texto-modal p {
        font-size: 0.8em;
    }

    #nav-newsletter .logo h1 {
        display: none ;
    }

    #menu-newsletter .e-mails .e-mail {
        min-width: 15em;
        max-width: 15em;
    }
}

@media screen and (max-width: 300px) {
    footer .direita div {
        flex-direction: column;
        gap: 0;
    }

    footer .direita img {
        align-self: center;
        height: 10em;
        width: max-content;
    }

    footer .esquerda input {
        width: 15em;
    }

    footer .esquerda h4 {
        font-size: 1.75em;
    }

    #menu-newsletter .e-mails .e-mail {
        min-width: 10em;
        max-width: 10em;
    }

    #newsletter-modal .container {
        padding: 1em;
    }

    #newsletter-modal h4 {
        font-size: 1.5em;
    }
} 

@media screen and (max-width: 280px) {
    #recursos .colecao-cards {
        max-width: 10em;
    }

    #recursos .colecao-cards .card {
        padding-inline: 1em;
    }

    #e-mail .itens .botoes {
        flex-direction: column;
    }
}