#nav-newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-family: 'Inter', sans-serif;
    color: #402012;
    background: linear-gradient(to right, #a86449, #e6b677 , #a86449);
}

#nav-newsletter .logo {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#nav-newsletter .logo h1 {
    margin: 0;
}

#nav-newsletter .logo img {
    width: 4em;
}

#nav-newsletter .voltar {
    justify-self: baseline;
}

#nav-newsletter button {
    display: flex;
    justify-self: center;
    align-items: center;
    background: transparent;
    border: none;
    color: #402012;
    user-select: none;
    cursor: pointer;
}

#nav-newsletter button span {
    font-size: 1.5em;
}

#nav-newsletter button .icone-botao {
    font-weight: bold;
    font-size: 2em;
}

#menu-newsletter {
    font-family: 'Inter', sans-serif;
    color: #402012;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-newsletter h2 {
    font-family: 'Poppins', sans-serif;
}

#menu-newsletter .e-mails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

#menu-newsletter .e-mails .e-mail {
    display: flex;
    align-items: center;
    border: 0.1em #402012 solid;
    border-radius: 1.25em;
    padding: 0.5em;
    min-width: 20em;
    max-width: 20em;
    cursor: pointer;
    gap: 0.5em;
}

#menu-newsletter .e-mails .e-mail h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

#menu-newsletter .e-mails .e-mail .icone,  #menu-newsletter .e-mails .e-mail .status {
    font-size: 2em;
    user-select: none;
}

#menu-newsletter .e-mails .e-mail .status {
    margin-left: auto;
}

#menu-newsletter .e-mails .novo-e-mail {
    border-style: dashed;
}

#newsletter-modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

#newsletter-modal .container {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #402012;
    font-family: 'Inter', sans-serif;
    border-radius: 1em;
}

#newsletter-modal .container .fechar {
    align-self: flex-end;
    user-select: none;
    cursor: pointer;
    color: black;
}

#newsletter-modal h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin-block: 1em;
    text-align: center;
}

#newsletter-modal .campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newsletter-modal .campo label {
    font-weight: bold;
}

#newsletter-modal .campo input {
    padding: 1em;
    border-radius: 1em;
    border: 0.1em black solid;
    margin-bottom: 2em;
}

#newsletter-modal button {
    background-color: #b3a972;
    color: white;
    padding: 0.5em;
    padding-inline: 1em;
    cursor: pointer;
    border: none;
    border-radius: 2em;
    font-size: 1em;
}

#e-mail {
    display: flex;
    font-family: 'Inter', sans-serif;
    padding: 1em;
}

#e-mail > * {
    max-width: 50%;
}

#e-mail .itens {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

#e-mail .itens .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: #402012 0.1em solid;
    padding: 0.5em;
}

#e-mail .itens .item .campo {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 90%;
}

#e-mail .itens .item .campo label {
    color: #402012;
    font-weight: bold;
}

#e-mail .itens .item .campo textarea {
    resize: none;
    field-sizing: content;
    border-radius: 0.8em;
    height: auto;
    padding: 1em;
    font-family: 'Inter', sans-serif;
}

#e-mail .itens .item .deletar {
    user-select: none;
    cursor: pointer;
    color: #402012;
}

#e-mail .itens .imagem input {
    display: none;
}

#e-mail .itens .imagem img {
    width: 75%;
}

#e-mail .itens .imagem button {
    width: 10em;
    border: none;
    border-radius: 1em;
    padding-block: 1em;
    background-color: #a86449;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#e-mail .itens .botoes {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: nowrap;
}

#e-mail .itens .botoes .botao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    font-family: 'Inter', sans-serif;
    border-radius: 1em;
    border: none;
    background-color: #b3a972;
    color: white;
    font-weight: bold;
    padding: 1em;
    user-select: none;
    cursor: pointer;
}

#e-mail .preview {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border: 0.05em black solid;
}

#e-mail .preview .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #a86449, #e6b677 , #a86449);
    width: 100%;
    text-align: center;
}

#e-mail .preview .titulo h1 {
    margin-block: 0.25em;
    font-family: 'Poppins', sans-serif;
    color: #402012;
}

#e-mail .preview .titulo img {
    width: 5em;
    height: auto;
}

#e-mail .preview .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 2em;
}

#e-mail .preview .conteudo h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75em;
}

#e-mail .preview .conteudo p {
    align-self: baseline;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    text-indent: 1.25em;
    font-size: 1.25em;
}

#e-mail .preview .conteudo figure img {
    width: 90%;
}

#e-mail .preview .conteudo figure figcaption {
    font-family: 'Inter', sans-serif;
}

#e-mail .preview .rodape {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #a86449, #e6b677 , #a86449);
    color: #402012;
    padding-block: 1em;
}

#e-mail .preview .rodape p {
    font-family: 'Inter', sans-serif;
}

#e-mail .preview .rodape a {
    font-family: 'Poppins', sans-serif;
    color: #402012;
    font-weight: bold;
    text-decoration: none;
}

#e-mail-botoes {
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

#e-mail-botoes .botao {
    color: white;
    font-size: 4em;
    font-weight: bold;
    padding: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    transition: .2s;
}

#e-mail-botoes .salvar {
    background-color: rgb(0, 102, 255);
}

#e-mail-botoes .salvar:hover {
    background-color: rgb(0, 41, 102);
}

#e-mail-botoes .enviar {
    background-color: rgb(0, 204, 82);
}

#e-mail-botoes .enviar:hover {
    background-color: rgb(0, 102, 41);
}