#riscos {
    background: rgb(219,156,109);
    background: linear-gradient(90deg, rgba(219,156,109,1) 0%, rgba(255,224,165,1) 50%, rgba(219,156,109,1) 100%);
    margin: 0;
}

#riscos .risco img {
    width: 6em;
    height: 12em;
    object-fit: cover;
    border-radius: 5em;
}