<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recurso não encontrado</title>
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/geral.css">
    <link rel="stylesheet" href="/static/css/404.css">
    <link rel="stylesheet" href="/static/css/media.css">
</head>
<body>
    <div id="container-404">
        <div class="informacoes">
            <div>
                <img src="/static/img/logo.png">
            </div>
            <div>
                <h1>404</h1>
                <h2>Recurso não encontrado</h2>
            </div>
        </div>
        <a href="/">Voltar ao início</a>
    </div>
</body>
</html>